<% layout("/layouts/boilerplate")%>
    <!-- <h1>All Listings</h1> -->
   <!--<form method="GET" action="/listings/new">
        <button>Create New</button>
    </form>--> 
    <style>
      #filters{
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
        align-items: center;
      }
      .filter{
        text-align: center;
        margin-right: 1rem;
        margin-top: 2rem;
        opacity: 0.7;
      }
      .filter:hover{
        opacity: 1.2;
        cursor: pointer;
      }
      .filter p{
        font-size: 0.8rem;
      }
      .tax-info {
         display: none;
      }
      .tax-toggle{
        border: 1px solid black;
        border-radius: 12px;
        height: 3.5rem;
        padding: 1rem;
        margin-left: 4rem;
        display: flex;
        align-items: center;
      }
    </style>
<div id="filters">
  <a href="/listings/filter/trending" class="filter">
    <div><i class="fa-solid fa-fire"></i></div> 
    <p>Trending</p>
  </a>
  <a href="/listings/filter/rooms" class="filter">
    <div><i class="fa-solid fa-bed"></i></div> 
    <p>Rooms</p>
  </a>
  <a href="/listings/filter/iconic-cities" class="filter">
    <div><i class="fa-solid fa-mountain-city"></i></div> 
    <p>Iconic cities</p>
  </a>
  <a href="/listings/filter/mountain" class="filter">
    <div><i class="fa-solid fa-mountain"></i></div> 
    <p>Mountain</p>
  </a>
  <a href="/listings/filter/castles" class="filter">
    <div><i class="fa-brands fa-fort-awesome"></i></div> 
    <p>Castles</p>
  </a>
  <a href="/listings/filter/pools" class="filter">
    <div><i class="fa-solid fa-person-swimming"></i></div> 
    <p>Pools</p>
  </a>
  <a href="/listings/filter/camping" class="filter">
    <div><i class="fa-solid fa-campground"></i></div> 
    <p>Camping</p>
  </a>
  <a href="/listings/filter/farms" class="filter">
    <div><i class="fa-solid fa-cow"></i></div> 
    <p>Farms</p>
  </a>
  <a href="/listings/filter/arctic" class="filter">
    <div><i class="fa-solid fa-snowflake"></i></div> 
    <p>Arctic</p>
  </a>
  <div class="tax-toggle">
  <div class="form-check-reverse form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
    <label class="form-check-label" for="flexSwitchCheckDefault">Display taxes</label>
  </div>
 </div>
</div>

<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
  <% for(let listing of allListing){ %>
    <a href="/listings/<%= listing._id %>" class="listing-link">
    <div class="card " style="width: 20rem;">
      <img src="<%= listing.image.url %>" 
      class="card-img-top" 
      alt="listing_img" 
      style="height: 20rem;">
      <div class="card-img-overlay"></div>
      <div class="card-body">
        <p class="card-text">
         <b><%= listing.title %></b><br>
          ₹ <% if (listing.price !== undefined && listing.price !== null) { %>
            <%= listing.price.toLocaleString("en-IN") %> /night
            <i class="tax-info">&nbsp;&nbsp;+18% GST</i>
        <% } else { %>
            Price not available
        <% } %>         
       </p>
      </div>
    </div>
  </a>
    <% } %>
</div>
<script>
  let taxswitch = document.getElementById("flexSwitchCheckDefault");
  taxswitch.addEventListener("click",() =>{
  let taxinfo = document.getElementsByClassName("tax-info")

  for (info of taxinfo) {
    if(info.style.display != "inline"){
      info.style.display = "inline";
    }
    else{
      info.style.display = "none";
    }
  }
})
</script>